---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021?apikey=9vEwJ8YbpbKaqqB3WKRjqc2VhGKS1epa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '29'
      Akamai-Grn:
      - 0.45ab3717.1703601614.13f6460b
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-12-26T17:22:00+03:00","EpochTime":1703600520,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-1.1,"Unit":"C","UnitType":17},"Imperial":{"Value":30.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"}]'
  recorded_at: Tue, 26 Dec 2023 14:40:15 GMT
recorded_with: VCR 6.2.0
